services:
  flowise:
    ports:
      - ${BIND_IP:-127.0.0.1}:3001:3001

  open-webui:
    ports:
      - ${BIND_IP:-127.0.0.1}:8080:8080

  n8n:
    ports:
      - ${BIND_IP:-127.0.0.1}:5678:5678

  qdrant:
    ports:
      - ${BIND_IP:-127.0.0.1}:6333:6333
      - ${BIND_IP:-127.0.0.1}:6334:6334

  neo4j:
    ports:
      - ${BIND_IP:-127.0.0.1}:7473:7473
      - ${BIND_IP:-127.0.0.1}:7474:7474
      - ${BIND_IP:-127.0.0.1}:7687:7687

  langfuse-worker:
    ports:
      - ${BIND_IP:-127.0.0.1}:3030:3030

  langfuse-web:
    ports:
      - ${BIND_IP:-127.0.0.1}:3000:3000

  clickhouse:
    ports:
      - ${BIND_IP:-127.0.0.1}:8123:8123
      - ${BIND_IP:-127.0.0.1}:9000:9000
      - ${BIND_IP:-127.0.0.1}:9009:9009

  minio:
    ports:
      - ${BIND_IP:-127.0.0.1}:9010:9000
      - ${BIND_IP:-127.0.0.1}:9011:9001

  postgres:
    ports:
      - ${BIND_IP:-127.0.0.1}:5433:5432                

  redis:
    ports:
      - ${BIND_IP:-127.0.0.1}:6379:6379

  searxng:
    ports:
      - ${BIND_IP:-127.0.0.1}:8081:8080

  ollama-cpu:
    ports:
      - ${BIND_IP:-127.0.0.1}:11434:11434

  ollama-gpu:
    ports:
      - ${BIND_IP:-127.0.0.1}:11434:11434
      
  ollama-gpu-amd:
    ports:
      - ${BIND_IP:-127.0.0.1}:11434:11434
